@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);
@import url(sidebar.css);
@import url(table.css);
@import url(formulario.css);
@import url(modal.css);
@import url(login.css);
@import url(all.min.css);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
main{
    z-index: 100;
    min-height: 100vh;
    height: 100%;
    width: calc(100% - 78px);
    margin-left: 78px;
    transition: all .4s ease;
}
.welcomw-content h3{
    font-size: 35px;
    padding: 20px;
}

.welcomw-content .date-content{
    background: #444070;
    padding: 35px 40px;
    width: 100%;

}
.date-content p{
    font-size: 20px;
    color: #fff;
}
.date-content p span{
    color: #8fb4df;
    font-weight: bold;
}
.data-info{
    margin: 15px 40px;
}
.sidebar.active ~ main{
    width: calc(100% - 260px);
    margin-left: 260px;
}
.content-info {
    position: relative;
    margin-top: 20px;
    width: 100%;
}
.content-info .content-action{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content-info .content-action .content-search{
    width: 800px;
    height: 40px;
    position: relative;
    line-height: 40px;
}
.content-info .content-action .content-search input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: none;
    border: 2px solid rgba(17, 16, 29, .7);
    font-size: 18px;
    color: #11101d;
    z-index: 80;
    border-radius: 12px;
    padding-left: 20px;
    transition: all .5s ease;
}
.content-info .content-action .content-search input:focus{
    border: 2px solid rgba(21,51,111,.7);
}
.content-info .content-action .content-search .btn-search{
    z-index: 90;
    position: absolute;
    font-size: 22px;
    line-height: 40px;
    right: 0;
    width: 70px;
    background: #11101d;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 0 12px 12px 0;
    transition: all .5s ease;
    border: none;
}
.content-info .content-action .content-search .btn-search:hover{
    background: #373363;
}
.content-info .content-action .content-btn{
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: right;
}
.content-info .content-action .content-btn a, .content-info .content-action .content-btn label{
    text-decoration: none;
    font-size: 22px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin-left: 25px;
    border-radius: 8px;
    transition: all .5s ease;
}
.content-info .content-action .content-btn .fa-file-pdf{
    background: #ac6311;
    cursor: pointer;
}
.content-info .content-action .content-btn a:hover ,.content-info .content-action .content-btn label:hover{
    transform: scale(1.3);
}
.content-info .content-action .content-btn .fa-plus{
    background: #016b1b;
}
td .data-action{
    width: 100%;
    height: 40px;
    display: flex;
    line-height: 40px;
    justify-content: center;
}
td .data-action a{
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: all .5s ease;
    margin: 0 5px;
}
td .data-action a:hover{
    transform: scale(1.2);
}
td .fa-tags{
    background: #0b0264;
}
td .fa-trash-can{
    background: #b40d0d;
}
td .fa-arrow-rotate-left{
    background: #c36e0e;
}

.content-info .content-scan{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content-scan .content-qr-scan{
    width: 40%;
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
    border-radius: 10px;
}
.content-scan .content-qr-scan h3{
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #444070;
    border-radius: 10px 10px 0 0;
    color: #fff;
}
.content-scan .content-qr-scan .content-img-scan{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.content-scan .content-qr-scan .content-img-scan img{
    height: 100%;
    margin: auto;
    display: block;
    overflow: cover;
}
.content-scan .content-qr-scan .content-img-scan canvas{
    width: 80%;
    margin: auto;
    margin-top: 15px;
    display: block;
    overflow: cover;
}
.content-scan .content-info-scan{
    background: #efefef;
    width: 58%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}
.content-info-scan h3{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #444070;
    color: #fff;
    border-radius: 10px 10px 0 0;
}
.content-info-scan .info-scan{
    display: flex;
    padding: 0 20px;
    margin-top: 20px;
}
.content-info-scan .info-scan .content-student{
    width: calc(100% - 220px);
}
.content-scan .content-info-scan .info-scan .photo-student{
    width: 200px;
    height: 200px;
    background: #fff;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 10px;
    border: 5px solid #5a8ac0;
}
.content-scan .content-info-scan .info-scan img{
    overflow: cover;
    width: 98%;
    margin: auto;
    display: block;
}
.content-scan .content-info-scan .info-scan .content-student .info-flex{
    display: flex;
    justify-content: space-between;
}
.content-scan .content-info-scan .info-scan .content-student p{
    font-size: 15px;
    padding: 5px 25px;
    margin-bottom: 20px;
    display: flex;
    background: #fff;
    border-radius: 5px;
}
.content-scan .content-info-scan .info-scan .content-student p span{
    width: 130px;
    font-weight: bold;
    color: #5a8ac0;
}
.content-scan .content-info-scan .info-scan .content-student p .info-stu{
    width: auto;
    font-weight: normal;
    color: #000;
}
.content-scan .content-info-scan .state-atten{
    padding: 0 20px;
}
.content-scan .content-info-scan .state-atten p{
    padding: 5px 25px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
}
.content-scan .content-info-scan .state-atten p i{
    margin-right: 10px;
}
.content-scan .content-info-scan .state-atten .state-check{
    color: #047b0e;
    background: #a0eca7;
}
.content-scan .content-info-scan .state-atten .state-warning{
    color: #735600;
    background: #ddc681;
    display: none;
}
.content-scan .content-info-scan .action-state{
    width: 100%;

    display: flex;
    justify-content: center;
}
.content-scan .content-info-scan .action-state button{
    padding: 10px 25px;
    margin: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s ease;

}
.content-scan .content-info-scan .action-state .btn-check{
    background: #0b9e18;
    color: #fff;
}
.content-scan .content-info-scan .action-state .btn-justify{
    background: #ae8406;
    color: #fff;
}
.content-scan .content-info-scan .action-state button:hover{
    transform: scale(110%);
}